.top-banner {
    background: url(../img/banner-top.png) 50% 0px no-repeat;
    height: 80px;
}

.icon {
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.top-nav {
    min-width: 1200px;
    height: 40px;
    font-size: 12px;
    color: #71797f;
    background-color: #f3f5f7;
}

.top-nav li span:hover {
    color: #ff734c;
}

.top-nav1 {
    display: flex;
    justify-content: space-between;
}

.top-nav-left {
    width: 360px;
    height: 40px;
    display: flex;
}

.top-nav li {
    padding: 0 16px;
    line-height: 40px;
}

.top-nav-left li:first-child {
    padding-left: 0;
}

.top-nav-left .icon {
    width: 14px;
    height: 14px;
    margin-top: 12px;
    margin-right: 4px;
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.top-nav-left .icon-star {
    background-position: 0 -21px;
}

.top-nav-left .icon-weixin {
    background-position: -24px -21px;
}

.top-nav-left .icon-mobile {
    background-position: -48px -21px;
}

.top-nav-right {
    width: 618px;
    height: 40px;
    display: flex;
}

.top-nav-right li a {
    color: #71797f;
}

.top-nav-right li:last-child {
    padding-right: 0;
}

.slogan {
    padding-left: 0;
}

.top-nav-right .slogan span:hover {
    color: #71797f;
}

.top-nav-right .icon-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    background-image: url(../img/top_nav_arrow.png);
    background-position: top center;
    background-size: 8px 8px;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.text-primary {
    color: #ff6a00;
}

.menu-dropdown {
    position: relative;
}

.dropdown-box {
    width: 93px;
    min-width: 100%;
    max-width: 100%;
    padding: 6px 0;
    box-sizing: content-box;
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 39px;
    left: -1px;
    padding: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #232628;
    background: #fff;
    border: 1px solid #E9ECF0;
    border-top-color: transparent;
    text-align: center;
    z-index: 1000;
}

.dropdown-box span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #71797F;
}

.open {
    background: #fff;
}

.open .dropdown-box {
    display: block;
}

.open .icon-arrow {
    transform: rotate(180deg);
}


/* logo */

.header-sel {
    position: relative;
    height: 120px;
    background-color: #F7F9FA;
}

.header-container {
    height: 97px;
    color: #232628;
    display: flex;
    justify-content: space-between;
}

.header-sel .logo {
    width: 238px;
    height: 100%;
}

.header-sel .logo a {
    display: inline-block;
    width: 238px;
    height: 60px;
    margin-top: 30px;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -248px;
}

.header-sel .search {
    margin-left: 55px;
    width: 440px;
    padding-top: 25px;
    font-size: 0;
}

.header-sel .search-box {
    position: relative;
    width: 440px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #FF734C;
    overflow: hidden;
}

.search-box .search-box-icon {
    display: inline-block;
    width: 54px;
    height: 100%;
    vertical-align: top;
    text-align: center;
}

.search-box .search-box-icon .icon-search {
    width: 16px;
    height: 16px;
    margin-top: 16px;
    background-position: 0 -48px;
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.search-box .search-box-input {
    width: 264px;
    height: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: inherit;
}

.search-box .search-box-btn {
    position: absolute;
    top: 0;
    right: -2px;
    width: 118px;
    height: 48px;
}

.search-box-btn .btn-primary {
    width: 100%;
    height: 100%;
    border-radius: 24px 0 0 24px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF734C;
    background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
    border: 1px solid transparent;
    color: #ffffff;
    border-color: #ff6a00;
}

.search-box-hotwords {
    margin-top: 8px;
    margin-left: 44px;
    font-size: 12px;
    line-height: 16px;
    color: #B4BABF;
}

.search-box-hotwords span {
    margin: 0 12px;
}

.service {
    width: 350px;
    height: 61px;
    padding-top: 25px;
    line-height: 18px;
    text-align: right;
}

.service .service-item {
    display: inline-block;
    font-size: 14px;
    color: #71797F;
    vertical-align: top;
}

.service-item .icon-phone {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-right: 8px;
    background-position: 0 -102px;
}

.service-item div {
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
    text-align: left;
}

.icon-headset {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-right: 8px;
    background-position: 0 -102px;
    background-position: -34px -102px;
}

.service .item2 {
    margin-left: 40px;
}


/* 轮播导航 */

.navi {
    width: 100%;
    height: 51px;
}

.navi-title {
    position: relative;
    width: 240px;
    height: 52px;
    float: left;
    border-radius: 12px 12px 0 0;
    background-color: #FF734C;
    background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
}

.navi-title h3 {
    padding-left: 24px;
    font-size: 18px;
    line-height: 52px;
    font-weight: bold;
    color: #fff;
}

.navi-title .dropdown-cate {
    position: absolute;
    top: 52px;
    left: 0;
    height: 480px;
    padding-top: 10px;
    color: #fff;
    background: url(../img/black-bg.png);
    z-index: 999;
    box-sizing: border-box;
}

.navi-title .dropdown-cate-item {
    padding: 9px 0px 9px 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.dropdown-cate .cate-pop:hover {
    background-color: #fff;
}

.dropdown-cate .cate-pop:hover .right-pop {
    display: block;
}

.dropdown-cate .cate-pop:hover a {
    color: #71797f;
}

.dropdown-cate .cate-pop:hover h4 a {
    color: #232628;
}

.dropdown-cate-item h4 {
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 28px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.dropdown-cate-item h4 a:hover {
    color: #FF734C;
}

.right-pop {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    margin-left: 240px;
    padding: 20px 36px;
    width: 960px;
    height: 478px;
    background-color: #fff;
    z-index: 9999;
    box-sizing: border-box;
}

.right-pop .right-pop-list {
    margin-bottom: 10px;
}

.right-pop .right-pop-list .right-pop-title {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    color: #232628;
}

.right-pop-list .right-pop-items {
    color: #71797F;
    font-size: 0;
}

.right-pop-list .right-pop-items a {
    display: inline-block;
    color: #71797F;
    width: 108px;
    margin-right: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.right-pop-list .right-pop-items.square a {
    width: 116px;
    margin-right: 12px;
}

.right-pop-list .right-pop-items.square a img {
    width: 108px;
}

.right-pop-list .right-pop-items a:hover {
    color: #FF734C;
}

.right-pop-list .right-pop-items a img {
    width: 68px;
    vertical-align: middle;
}

.right-pop-items.square a:first-child+a+a+a+a+a+a,
.right-pop-items.square a:first-child+a+a+a+a+a+a+a+a+a+a+a+a+a {
    margin-right: 0;
}

.right-pop-items.cities a {
    display: inline;
    margin-right: 15px !important;
    font-size: 12px;
    line-height: 24px;
}

.right-pop-list .right-pop-items a p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.dropdown-cate-item h4 .icon-arrow-right {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 4px;
    background-position: -44px 0;
}

.dropdown-cate-item ul {
    margin-top: 5px;
}

.dropdown-cate-item ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    padding: 0 4px;
}

.dropdown-cate-item ul li a,
.dropdown-cate-item h4 a {
    color: #fff;
}

.dropdown-cate-item ul li a:hover {
    color: #FF734C;
}

.navi-title .icon-category {
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-right: 4px;
    background-position: -68px -102px;
}

.navi-nav {
    margin: 0 0 0 265px;
    height: 100%;
    list-style: none;
}

.navi-nav li {
    float: left;
    margin: 0 14px;
    font-size: 18px;
    color: #232628;
    font-weight: bold;
    line-height: 52px;
    margin: 0 14px;
}

.navi-nav li:hover {
    color: #FF734C;
}

.navi-nav li a {
    color: #232628;
}

.mainCarousel {
    position: relative;
    min-width: 1200px;
    height: 480px;
    width: 100%;
}

.mainCarousel .carouselimg {
    width: 100%;
    height: 480px;
}

.mainCarousel .carouselimg {
    background-image: url(../img/carousel1.jpg);
    width: 100% !important;
    opacity: 0;
    transform: translate3d(-385px, 0px, 0px);
}

.carousel .swiper-wrapper,
.carousel {
    margin: 0;
    width: 100%;
}

.mainCarousel .carouselnaxt {
    position: absolute;
    top: -266px;
    width: 52px;
    height: 52px;
    opacity: 1;
}

.mainCarousel:hover .carousel-wrapper {
    opacity: 1;
}

.carousel-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 480px;
    z-index: 50;
    opacity: 0;
}

.carousel-wrapper .swiper-button-next {
    width: 52px;
    height: 52px;
    z-index: 100;
}

.carousel-wrapper .swiper-button-prev {
    width: 52px;
    height: 52px;
    z-index: 100;
    left: 257px;
    background-image: linear-gradient(to right, transparent 0%, transparent 100%);
}


/* 轮播下 */

.main-server {
    height: 60px;
}

.main-server ul {
    font-size: 0;
    list-style: none;
}

.main-server li:first-child {
    width: 216px;
}

.main-server li span.icon {
    width: 24px;
    height: 24px;
    margin-top: 18px;
    margin-left: 2px;
    margin-right: 6px;
}

.main-server li {
    display: inline-block;
}

.main-server li a {
    text-decoration: none;
    color: inherit;
}

.main-server li a:hover {
    color: #FF734C;
}

.main-server li h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
}

.main-server li+li {
    margin-left: 90px;
}

.main-server li span.icon-server-o1 {
    background-position: -102px -102px;
}

.main-server li span.icon-server-o2 {
    background-position: -136px -102px;
}

.main-server li span.icon-server-o3 {
    background-position: -170px -102px;
}

.main-server li span.icon-server-o4 {
    background-position: -204px -102px;
}

.main-server li span.icon-server-o5 {
    background-position: -238px -102px;
}

.scene {
    width: 1200px;
    margin: 30px auto 60px;
    font-size: 0;
}

.scene-list {
    float: left;
    width: 288px;
    border-radius: 8px;
    overflow: hidden;
}

.scene-item-vertical {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.scene img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}

.scene .scene-list+.scene-list {
    margin-left: 16px;
}

.scene-item-horizontal {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.scene .scene-item-horizontal+.scene-item-horizontal {
    margin-top: 16px;
}

.scene-item-vertical-mini {
    display: inline-block;
    width: 136px;
    border-radius: 8px;
    overflow: hidden;
}

.scene .scene-list .scene-item-vertical-mini+.scene-item-vertical-mini {
    margin-left: 16px;
}

.scene-item-vertical span {
    position: absolute;
    left: 16px;
    bottom: 20px;
    font-size: 16px;
    color: #71797f;
    line-height: 20px;
}