* {
    box-sizing: border-box;
}

.top-banner {
    background: url(../img/banner-top.png) 50% 0px no-repeat;
    height: 80px;
}

.icon {
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.top-nav {
    min-width: 1200px;
    height: 40px;
    font-size: 12px;
    color: #71797f;
    background-color: #f3f5f7;
}

.top-nav li span:hover {
    color: #ff734c;
}

.top-nav1 {
    display: flex;
    justify-content: space-between;
}

.top-nav-left {
    width: 360px;
    height: 40px;
    display: flex;
}

.top-nav li {
    padding: 0 16px;
    line-height: 40px;
}

.top-nav-left li:first-child {
    padding-left: 0;
}

.top-nav-left .icon {
    width: 14px;
    height: 14px;
    margin-top: 12px;
    margin-right: 4px;
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.top-nav-left .icon-star {
    background-position: 0 -21px;
}

.top-nav-left .icon-weixin {
    background-position: -24px -21px;
}

.top-nav-left .icon-mobile {
    background-position: -48px -21px;
}

.top-nav-right {
    width: 618px;
    height: 40px;
    display: flex;
}

.top-nav-right li a {
    color: #71797f;
}

.top-nav-right li:last-child {
    padding-right: 0;
}

.slogan {
    padding-left: 0;
}

.top-nav-right .slogan span:hover {
    color: #71797f;
}

.top-nav-right .icon-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    background-image: url(../img/top_nav_arrow.png);
    background-position: top center;
    background-size: 8px 8px;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.text-primary {
    color: #ff6a00;
}

.menu-dropdown {
    position: relative;
}

.dropdown-box {
    width: 93px;
    min-width: 100%;
    max-width: 100%;
    padding: 6px 0;
    box-sizing: content-box;
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 39px;
    left: -1px;
    padding: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #232628;
    background: #fff;
    border: 1px solid #E9ECF0;
    border-top-color: transparent;
    text-align: center;
    z-index: 1000;
}

.dropdown-box span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #71797F;
}

.top-nav-right .open {
    background: #fff;
}

.top-nav-right .open .dropdown-box {
    display: block;
}

.top-nav-right .open .icon-arrow {
    transform: rotate(180deg);
}


/* logo */

.header-sel {
    position: relative;
    height: 120px;
    background-color: #F7F9FA;
}

.header-container {
    height: 97px;
    color: #232628;
    display: flex;
    justify-content: space-between;
}

.header-sel .logo {
    width: 238px;
    height: 100%;
}

.header-sel .logo a {
    display: inline-block;
    width: 238px;
    height: 60px;
    margin-top: 30px;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -248px;
}

.header-sel .search {
    margin-left: 55px;
    width: 440px;
    padding-top: 25px;
    font-size: 0;
}

.header-sel .search-box {
    position: relative;
    width: 440px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #FF734C;
    overflow: hidden;
}

.search-box .search-box-icon {
    display: inline-block;
    width: 54px;
    height: 100%;
    vertical-align: top;
    text-align: center;
}

.search-box .search-box-icon .icon-search {
    width: 16px;
    height: 16px;
    margin-top: 16px;
    background-position: 0 -48px;
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.search-box .search-box-input {
    width: 264px;
    height: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: inherit;
}

.search-box .search-box-btn {
    position: absolute;
    top: 0;
    right: -2px;
    width: 118px;
    height: 48px;
}

.search-box-btn .btn-primary {
    width: 100%;
    height: 100%;
    border-radius: 24px 0 0 24px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF734C;
    background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
    border: 1px solid transparent;
    color: #ffffff;
    border-color: #ff6a00;
}

.search-box-hotwords {
    margin-top: 8px;
    margin-left: 44px;
    font-size: 12px;
    line-height: 16px;
    color: #B4BABF;
}

.search-box-hotwords span {
    margin: 0 12px;
}

.service {
    width: 350px;
    height: 61px;
    padding-top: 25px;
    line-height: 18px;
    text-align: right;
}

.service .service-item {
    display: inline-block;
    font-size: 14px;
    color: #71797F;
    vertical-align: top;
}

.service-item .icon-phone {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-right: 8px;
    background-position: 0 -102px;
}

.service-item div {
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
    text-align: left;
}

.icon-headset {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-right: 8px;
    background-position: 0 -102px;
    background-position: -34px -102px;
}

.service .item2 {
    margin-left: 40px;
}


/* 轮播导航 */

.navi {
    width: 100%;
    height: 51px;
}

.navi-title {
    position: relative;
    width: 240px;
    height: 52px;
    float: left;
    border-radius: 12px 12px 0 0;
    background-color: #FF734C;
    background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
}

.navi-title h3 {
    padding-left: 24px;
    font-size: 18px;
    line-height: 52px;
    font-weight: bold;
    color: #fff;
}

.navi-title .dropdown-cate {
    position: absolute;
    top: 52px;
    left: 0;
    height: 480px;
    padding-top: 10px;
    color: #fff;
    background: url(../img/black-bg.png);
    z-index: 999;
    box-sizing: border-box;
}

.navi-title .dropdown-cate-item {
    padding: 9px 0px 9px 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.dropdown-cate .cate-pop:hover {
    background-color: #fff;
}

.dropdown-cate .cate-pop:hover .right-pop {
    display: block;
}

.dropdown-cate .cate-pop:hover a {
    color: #71797f;
}

.dropdown-cate .cate-pop:hover h4 a {
    color: #232628;
}

.dropdown-cate-item h4 {
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 28px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.dropdown-cate-item h4 a:hover {
    color: #FF734C;
}

.right-pop {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    margin-left: 240px;
    padding: 20px 36px;
    width: 960px;
    height: 478px;
    background-color: #fff;
    z-index: 9999;
    box-sizing: border-box;
}

.right-pop .right-pop-list {
    margin-bottom: 10px;
}

.right-pop .right-pop-list .right-pop-title {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    color: #232628;
}

.right-pop-list .right-pop-items {
    color: #71797F;
    font-size: 0;
}

.right-pop-list .right-pop-items a {
    display: inline-block;
    color: #71797F;
    width: 108px;
    margin-right: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.right-pop-list .right-pop-items.square a {
    width: 116px;
    margin-right: 12px;
}

.right-pop-list .right-pop-items.square a img {
    width: 108px;
}

.right-pop-list .right-pop-items a:hover {
    color: #FF734C;
}

.right-pop-list .right-pop-items a img {
    width: 68px;
    vertical-align: middle;
}

.right-pop-items.square a:first-child+a+a+a+a+a+a,
.right-pop-items.square a:first-child+a+a+a+a+a+a+a+a+a+a+a+a+a {
    margin-right: 0;
}

.right-pop-items.cities a {
    display: inline;
    margin-right: 15px !important;
    font-size: 12px;
    line-height: 24px;
}

.right-pop-list .right-pop-items a p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.dropdown-cate-item h4 .icon-arrow-right {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 4px;
    background-position: -44px 0;
}

.dropdown-cate-item ul {
    margin-top: 5px;
}

.dropdown-cate-item ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    padding: 0 4px;
}

.dropdown-cate-item ul li a,
.dropdown-cate-item h4 a {
    color: #fff;
}

.dropdown-cate-item ul li a:hover {
    color: #FF734C;
}

.navi-title .icon-category {
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-right: 4px;
    background-position: -68px -102px;
}

.navi-nav {
    margin: 0 0 0 265px;
    height: 100%;
    list-style: none;
}

.navi-nav li {
    float: left;
    margin: 0 14px;
    font-size: 18px;
    color: #232628;
    font-weight: bold;
    line-height: 52px;
    margin: 0 14px;
}

.navi-nav li:hover {
    color: #FF734C;
}

.navi-nav li a {
    color: #232628;
}

.mainCarousel {
    position: relative;
    min-width: 1200px;
    height: 480px;
    width: 100%;
}

.mainCarousel .carouselimg {
    width: 100%;
    height: 480px;
}

.mainCarousel .carouselimg {
    background-image: url(../img/carousel1.jpg);
    width: 100% !important;
    opacity: 0;
    transform: translate3d(-385px, 0px, 0px);
}

.carousel .swiper-wrapper,
.carousel {
    margin: 0;
    width: 100%;
}

.mainCarousel .carouselnaxt {
    position: absolute;
    top: -266px;
    width: 52px;
    height: 52px;
    opacity: 1;
}

.mainCarousel:hover .carousel-wrapper {
    opacity: 1;
}

.carousel-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 480px;
    z-index: 50;
    opacity: 0;
}

.carousel-wrapper .swiper-button-next {
    width: 52px;
    height: 52px;
    z-index: 100;
}

.carousel-wrapper .swiper-button-prev {
    width: 52px;
    height: 52px;
    z-index: 100;
    left: 257px;
    background-image: linear-gradient(to right, transparent 0%, transparent 100%);
}


/* 轮播下 */

.main-server {
    height: 60px;
}

.main-server ul {
    font-size: 0;
    list-style: none;
}

.main-server li:first-child {
    width: 216px;
}

.main-server li span.icon {
    width: 24px;
    height: 24px;
    margin-top: 18px;
    margin-left: 2px;
    margin-right: 6px;
}

.main-server li {
    display: inline-block;
}

.main-server li a {
    text-decoration: none;
    color: inherit;
}

.main-server li a:hover {
    color: #FF734C;
}

.main-server li h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
}

.main-server li+li {
    margin-left: 90px;
}

.main-server li span.icon-server-o1 {
    background-position: -102px -102px;
}

.main-server li span.icon-server-o2 {
    background-position: -136px -102px;
}

.main-server li span.icon-server-o3 {
    background-position: -170px -102px;
}

.main-server li span.icon-server-o4 {
    background-position: -204px -102px;
}

.main-server li span.icon-server-o5 {
    background-position: -238px -102px;
}

.scene {
    width: 1200px;
    margin: 30px auto 60px;
    font-size: 0;
}

.scene-list {
    float: left;
    width: 288px;
    border-radius: 8px;
    overflow: hidden;
}

.scene-item-vertical {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.scene img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}

.scene .scene-list+.scene-list {
    margin-left: 16px;
}

.scene-item-horizontal {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.scene .scene-item-horizontal+.scene-item-horizontal {
    margin-top: 16px;
}

.scene-item-vertical-mini {
    display: inline-block;
    width: 136px;
    border-radius: 8px;
    overflow: hidden;
}

.scene .scene-list .scene-item-vertical-mini+.scene-item-vertical-mini {
    margin-left: 16px;
}

.scene-item-vertical span {
    position: absolute;
    left: 16px;
    bottom: 20px;
    font-size: 16px;
    color: #71797f;
    line-height: 20px;
}

.fl:nth-child(odd) {
    background-color: #F7F9FA;
}

.fl {
    width: 100%;
    font-size: 0;
}

.fl-container {
    padding: 40px 0 60px;
}

.fl-container .hd .more {
    font-size: 14px;
    line-height: 30px;
    color: #71797F;
    float: right;
}

.fl-container .hd .more span.icon-arrow-right {
    background-position: -68px 0;
}

.fl-container .hd .more span.icon {
    width: 12px;
    height: 12px;
    margin-top: 9px;
    margin-left: 6px;
}

span.icon {
    display: inline-block;
    background-image: url(../img/common_sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}

.fl-container .hd h3 {
    font-size: 26px;
    line-height: 30px;
    color: #232628;
    font-weight: bold;
}

.fl-container .hd h3 span {
    padding-left: 15px;
    margin-left: 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    border-left: 1px solid #71797F;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF734C;
}

.fl-container .bd {
    margin-top: 14px;
    font-size: 0;
}

.fl-container .bd-l {
    display: inline-block;
    width: 288px;
    vertical-align: top;
}

.fl-container .bd-l .banner-box {
    position: relative;
}

.fl-container .bd-l img {
    width: 100%;
}

img {
    width: 100%;
    vertical-align: middle;
}

.fl-container .bd-l .link-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
    background-image: url(../img/home_linkcover.png);
}

.fl-container .bd-l .link-cover a {
    display: block;
    width: 240px;
    height: 60px;
    margin: 74px auto 0;
    border: 2px solid #fff;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 56px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.fl-container .bd-l .link-cover span.icon {
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 12px;
}

.fl-container .bd-l .link-cover span.icon-dotarrow {
    background-position: 0 -72px;
}

.fl-products {
    display: inline-block;
    width: 912px;
    vertical-align: top;
}

.fl-products-item {
    display: inline-block;
    width: 212px;
    margin-left: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    vertical-align: top;
}

.fl-products-item a {
    outline: none;
}

.fl-products-item:hover .product-content>p {
    color: #FF734C;
}

.fl-products-item:hover .img-box img {
    transform: scale(1.1);
    transition: all 1s;
}

.fl-products-item .img-box {
    width: 100%;
    height: 228px;
    overflow: hidden;
}

.fl-products-item .img-box img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    text-decoration: none;
}

.fl-products-item .product-content {
    padding: 10px 8px 14px;
    text-align: center;
    color: #232628;
}

.fl-products-item .product-title {
    max-width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
}

.fl-products-item .product-price {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.fl-products-item .product-sell {
    margin-top: 6px;
    font-size: 12px;
    color: #71797F;
    line-height: 16px;
}

.price-sign {
    font-family: arial;
    margin-right: -4px;
}

.price-num {
    font-family: arial, Verdana, Arial;
}

.fl:first-child,
.fl:first-child+.fl+.fl,
.fl:first-child+.fl+.fl+.fl+.fl,
.fl:first-child+.fl+.fl+.fl+.fl+.fl+.fl {
    background-color: #F7F9FA;
}

.fl:first-child+.fl,
.fl:first-child+.fl+.fl+.fl,
.fl:first-child+.fl+.fl+.fl+.fl+.fl {
    background-color: #E9ECF0;
}

.fl .f-cake-banner {
    padding: 16px 0 28px;
    background-color: #fff;
}

.fl .f-cake-title-box {
    width: 288px;
    height: 48px;
    float: left;
    padding-left: 24px;
    font-size: 18px;
    line-height: 48px;
    background-color: #FF734C;
    background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
    border-radius: 0 100px 100px 0;
    color: #fff;
}

.fl .f-cake-cities {
    margin-left: 288px;
    padding-left: 20px;
    list-style: none;
}

.fl .f-cake-cities li {
    float: left;
    margin: 0 12px;
    font-size: 16px;
    line-height: 48px;
    color: #232628;
}

.fl .f-cake-title-box span.icon-city {
    width: 16px;
    height: 16px;
    margin-top: 16px;
    margin-right: 8px;
    background-position: -26px -46px;
}

.fl .f-cake-title-box-r {
    position: relative;
    display: inline-block;
    margin-left: 42px;
    vertical-align: top;
}

.fl .f-cake-title-box-r .f-cake-dropdown-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    cursor: pointer;
}

.fl .f-cake-title-box span.icon-city-arrow {
    width: 14px;
    height: 14px;
    margin-top: 18px;
    margin-left: 10px;
    background-position: 0 0;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.fl .f-cake-title-box-r .f-cake-dropdown-pop {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    z-index: 1000;
    background: #fff;
    color: #232628;
}

.fl .open .f-cake-dropdown-pop {
    display: block;
}

.fl .f-cake-title-box-r.open span.icon-city-arrow {
    transform: rotate(90deg);
}

.delivery-city-cont {
    font-size: 12px;
    width: 384px;
    padding: 0;
    border: 2px solid #ff6a00;
}

.delivery-city-cont h3 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ff6a00;
}

.delivery-city-cont h4 {
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 5px;
    padding: 0 20px;
    background-color: #f5f5f5;
}

.delivery-city-cont ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
}

.delivery-city-cont ul li {
    line-height: 32px;
    display: block;
    float: left;
    width: 76px;
    height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.delivery-city-cont .form-box {
    position: relative;
    margin: 0 20px 15px;
}

.delivery-city-cont .form-box .form-control {
    line-height: 30px;
    width: 100%;
    position: relative;
    display: block;
    height: 40px;
    padding: 5px 3em 5px .5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #4d4d4d;
    background-image: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    user-select: none;
}

.delivery-city-cont .form-box .btn {
    position: absolute;
    top: -2px;
    right: -4px;
    width: 30px;
    height: 30px;
}

.ico {
    background-image: url(../img/common.png);
    display: inline-block;
    vertical-align: middle;
}

.ico-search {
    background-position: -334px -131px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

input,
textarea,
select {
    outline: none;
}

.fl .f-cake-brands {
    padding-top: 16px;
}

.fl .f-cake-brands-list {
    list-style: none;
}

.fl .f-cake-brands .f-cake-brands-item+.f-cake-brands-item {
    margin-left: 4px;
}

.fl .f-cake-brands-item {
    float: left;
    width: 168px;
    height: 124px;
    margin-bottom: 4px;
    text-align: center;
    color: #71797F;
}

.fl .f-cake-brands-item img {
    width: 108px;
    height: 60px;
    margin-top: 24px;
}

.fl .f-cake-brands-name {
    margin-top: 6px;
    font-size: 12px;
    line-height: 16px;
}

.fl-products-row .fl-products-item {
    width: 227px;
    padding: 8px 8px 0;
    margin: 16px 8px 0;
    border-radius: 8px;
    box-sizing: border-box;
}

.fl-products-row {
    width: 1216px;
}

.fl .f-gifts-banner {
    padding: 14px 0;
    background-color: #fff;
    border-radius: 8px;
}

.fl .f-gifts-banner-categorys {
    padding-left: 12px;
    color: #71797F;
}

.fl .f-gifts-banner-categorys a {
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
}

.fl .f-gifts-banner-brands {
    margin-top: 22px;
    padding-left: 26px;
    color: #71797F;
}

.fl .f-gifts-banner-brands a {
    display: inline-block;
    width: 116px;
    margin-right: 50px;
    margin-bottom: 6px;
    text-align: center;
}

.fl .f-gifts-banner img {
    width: 100%;
}

.fl .f-gifts-banner-brands p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.fl-products-row {
    width: 1216px;
}

.fl-container {
    width: 1216px;
}

.fl .f-comments-item {
    display: inline-block;
    width: 288px;
    height: 176px;
    margin: 0 8px 8px;
    padding: 8px;
    color: #232628;
    background-color: #fff;
    border-radius: 8px;
}

.fl .f-comments-item>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    outline: none;
}

.fl .f-comments-item-l {
    display: inline-block;
    width: 154px;
    height: 100%;
    padding: 8px;
    vertical-align: top;
}

.fl .f-comments-item-user {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl .f-comments-item-user img {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: top;
}

.fl .f-comments-item-user span {
    display: inline-block;
    width: 114px;
    font-size: 12px;
    color: #71797F;
    line-height: 24px;
    padding-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.fl .f-comments-item-info {
    position: relative;
    width: 100%;
    height: 120px;
    padding-top: 8px;
}

.fl .f-comments-item-content {
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
}

.fl .f-comments-item-time {
    position: absolute;
    bottom: 0;
    left: 0;
}

.fl .f-comments-item-time p {
    font-size: 12px;
    color: #B4BABF;
}

.fl .f-comments-item-r {
    display: inline-block;
    width: 118px;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    text-align: center;
}

.fl .f-comments-item-r img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.fl .f-server-bd {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.fl .articles {
    width: 100%;
    background-color: #fff;
}

.fl .articles-hd {
    height: 53px;
    padding: 0 32px;
    border-bottom: 1px solid #E9ECF0;
}

.fl .articles-hd a {
    font-size: 14px;
    line-height: 52px;
    color: #71797F;
    float: right;
}

.fl .articles-hd h4 {
    font-size: 20px;
    line-height: 52px;
    font-weight: bold;
    color: #232628;
}

.fl .articles-bd {
    width: 100%;
    padding: 8px 0;
}

.fl .articles-item {
    position: relative;
    display: inline-block;
    width: 400px;
    padding-left: 42px;
    font-size: 12px;
    line-height: 28px;
    color: #232628;
}

.fl .articles-item:before {
    position: absolute;
    content: "";
    left: 32px;
    top: 12px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #B4BABF;
}

.fl .f-server-list {
    padding: 20px 0;
    border-bottom: 1px solid #E9ECF0;
}

.fl .f-server-item:nth-child(4n+1) {
    width: 323px;
}

.fl .f-server-item:first-child+li,
.fl .f-server-item:first-child+li+li+li+li+li {
    width: 360px;
}

.fl .f-server-item:first-child+li+li,
.fl .f-server-item:first-child+li+li+li+li+li+li {
    width: 320px;
}

.fl .f-server-item:first-child+li+li+li,
.fl .f-server-item:first-child+li+li+li+li+li+li+li {
    width: 197px;
}

.fl .f-server-item {
    float: left;
    margin: 20px 0;
    font-size: 20px;
    line-height: 40px;
    color: #232628;
}

.fl .f-server-item span.icon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.fl .f-server-item span.icon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.fl .f-server-item span.icon-server1 {
    background-position: 0 -136px;
}

.fl .f-server-item span.icon-server2 {
    background-position: -50px -136px;
}

.fl .f-server-item span.icon-server3 {
    background-position: -100px -136px;
}

.fl .f-server-item span.icon-server4 {
    background-position: -150px -136px;
}

.fl .f-server-item span.icon-server5 {
    background-position: -200px -136px;
}

.fl .f-server-item span.icon-server6 {
    background-position: -250px -136px;
}

.fl .f-server-item span.icon-server7 {
    background-position: -300px -136px;
}

.fl .f-server-item span.icon-server8 {
    background-position: -350px -136px;
}

.fl .help-container {
    padding-top: 36px;
    padding-bottom: 40px;
}

.fl .help-server {
    width: 197px;
}

.fl .help-container>div {
    float: left;
}

.fl .help-container>div h4 {
    font-size: 16px;
    line-height: 24px;
    color: #232628;
}

.fl .help-container>div ul {
    margin-top: 7px;
}

.fl .help-container>div li,
.fl .help-container>div p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fl .help-container>div li {
    float: left;
    font-size: 12px;
    line-height: 24px;
    color: #71797F;
}

.fl .help-server-list li {
    width: 68px;
}

.fl .help-infos {
    width: 225px;
}

.fl .help-city {
    width: 197px;
}

.fl .help-city .help-city-list li {
    width: 68px;
    line-height: 20px;
}

.fl .help-contact {
    width: 259px;
}

.fl .help-contact .help-contact-content {
    margin-top: 9px;
}

.fl .help-contact p {
    font-size: 12px;
    line-height: 20px;
    color: #71797F;
}

.fl .help-contact-kf {
    width: 100px;
    height: 32px;
    margin-top: 4px;
    border-radius: 16px;
    background-color: #FF734C;
    font-size: 12px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}

.fl .help-contact-kf a:hover {
    color: #fff;
}

.fl .help-contact-kf span.icon {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 6px;
}

.fl .help-contact-kf span.icon-contact {
    background-position: -330px -72px;
}

.fl .help-qrcode {
    width: 322px;
    font-size: 0;
    text-align: right;
}

.fl .help-qrcode-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.fl .help-qrcode-item img {
    width: 120px;
    height: 120px;
}

.fl .help-qrcode-item p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
    color: #232628;
}

.fl .help-qrcode .help-qrcode-item+.help-qrcode-item {
    margin-left: 48px;
}

#footer {
    font-size: 0;
    background-color: #232628;
}

#footer .ft-container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 46px;
}

#footer .ft-nav {
    color: #fff;
}

#footer .ft-nav a {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
}

#footer .ft-nav a+a {
    padding-left: 32px;
    margin-left: 33px;
    border-left: 1px solid #fff;
}

#footer .ft-site {
    margin-top: 30px;
}

#footer .ft-site p {
    font-size: 12px;
    color: #71797F;
    line-height: 22px;
}

#footer .ft-site span.icon-beian {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background-position: -360px -72px;
}

#footer .ft-auth {
    margin-top: 7px;
}

#footer .ft-auth span.icon-slogan {
    width: 149px;
    background-position: -518px -136px;
}

#footer .ft-auth span.icon {
    height: 40px;
    margin-right: 12px;
}

#footer .ft-auth a {
    display: inline-block;
    vertical-align: top;
}

#footer .ft-auth span.icon-top100 {
    width: 123px;
    background-position: -676px -136px;
}

#footer .ft-auth span.icon-icp {
    width: 33px;
    background-position: -809px -136px;
}

#footer .ft-auth-border {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border-radius: 2px;
    margin-right: 12px;
}

#footer .ft-auth img {
    width: auto;
    height: 40px;
}

#footer .ft-auth-border img {
    margin: 0 4px;
}

#footer .ft-link {
    margin-top: 10px;
    color: #71797F;
}

#footer .ft-link span {
    margin-right: 4px;
    font-weight: bold;
}

#footer .ft-link span,
#footer .ft-link a {
    font-size: 12px;
    line-height: 16px;
    color: inherit;
}