body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .wrap{
    width: 1200px;
    margin: auto;
}
  /* 头 */
  .header-top{
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 10px;
      font-size: 12px;
  }
  .header-top a:hover{
      color: #FE6600;
  }
  .header-top-left{
      float: left;
      height: 40px;
  }
  .header-top-left span:first-child{
       margin-right: 10px;
  }
  .header-top-left span{
      margin: 0 10px;
  }
  .header-top-left a{
      color: #666;
  }
  .header-top-right{
      float: right;
      height: 40px;
      color: #666;
  }
  .header-top-right li{
      float: left;
      margin: 0 10px;
  }
  .header-top-right li:last-child{
      margin-left: 10px;
  }
  .header-top-right a{
      color: #666;
  }
  .buy-car{
      position: relative;
  }
  .buy-car a{
      display: block;
      position: relative;
      z-index: 10;
      box-sizing: border-box;
  }
  .buy-car :hover {
      background-color: white;
      border: 1px solid #666;
      border-bottom: none;
      box-sizing: border-box;
  }
  .buy-car:hover::after{
      display: block;
  }
  .buy-car::after{
      content: "购物车空空如也";
      position: absolute;
      z-index: 1;
      top: 40px;
      right: 0;
      border: 1px solid #666; 
      background-color: white;
      width: 320px;
      height: 120px;
      text-align: center; 
      line-height: 120px;
      display: none;
  }
  header .search{
     margin-top: 10px;
     margin-bottom: 20px; 
     height: 100px;
  }
  .title1{
      position: relative;
      float: left;
      width: 500px;
      height: 64px;
      margin-top: 20px;
      background: url(../../img/pgyimg/back1.png) left center no-repeat;
      z-index: 10;
      overflow: hidden;
      box-sizing: border-box;
  }
  .title1 h1{
      position: absolute;
      display: inline-block;
      text-indent: -9999em;
      margin-top: -20px;
  }
  .ipt{
      float: left;
      width: 320px;
      height: 35px;
      margin-top: 40px;
      overflow: hidden;
  }
  .ipt input{
      width: 260px;
      height: 35px;
      padding: 6px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid #FF6A00;
      float: left;
  }
  .ipt span{
      display: block;
      height: 35px;
      width: 60px;
      background-color: #FF6A00;
      color: white;
      float: left;
      text-align: center;
      line-height: 35px;
  }
  .search>div:nth-child(3){
      float: right;
      margin-top: 40px;
      width: 250px;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
  }
  .top001 {
      font-size: 14px;
      margin: 0 20px;
      color: #999;
  }
  .top-nav{
      height: 40px;
      line-height: 40px;
      background-color: #FE7A24;
  }
  .top-nav ul{
      height: 40px;
  }
  .top-nav li{
      float: left;
  }
  .top-nav li:hover{
      background-color: #ff8833;
  }
  .top-nav li a{
      padding: 10px 25px;
      text-align: center;
      font-size: 15px;
      color: white;
      font-weight: bold;
  }
  .top-nav li:first-child{
      width: 140px;
      background-color: #FF6A00;
  }
  .top-nav li:first-child a{
      padding-left: 10px;   
  }

/* 主题内容 */
.city{
    border: 3px solid #FE7A24;
    height: 500px;
    margin-top: 10px;
}
.city-top{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.city-top>div{
    float: left;
}
.hotCity{
    width: 120px;
    padding-left: 25px;
}
.hotCity h2{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.lists{
    overflow: hidden;
}
.lists ul,.lists div{
    float: left;
}
.lists ul{
  overflow: hidden;
}
.lists li{
  float: left;
  margin-right: 28px;
}
.lists a{
    height: 50px;
    color: #F36F20;
}
.lists a:hover{
    color: #F36F20;
    text-decoration: underline;
}
.lists div{
    font-size: 16px;
    color: #737373;
}
.lists div span{
    color: #F36F20;
}
/* 搜索 */
.search2{
    height: 32px;
}
.search2>div{
    float: left;
    margin-top: 10px;
}
.find{
    width: 120px;
    padding-left: 25px;
}
.find h2{
    height: 32px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.sel{
    margin-right: 50px;
}
.sel select{
    margin: 0 10px;
}
.sel span{
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0 20px;
    background-color: #F36F20;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.nav1{
    height: 50px;
    border-top: 1px solid #737373;
    border-bottom: 1px solid #737373;
    color: #737373;
    margin: 20px 0;
}

.chose{
    width: 120px;
    padding-left: 25px;
    float: left;
}
.chose h2{
    height: 50px;
    line-height: 50px;
    width: 150px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.letters{
    float: right;
    width: 700px;
    height: 50px;
}
#letter{
    height: 50px;
    text-align: center;
}
#letter li{
     float: left;
}
#letter a{
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    line-height: 25px;
}
#letter .letter-light{
    background-color: #FF6600;
    color: white;
    text-decoration: underline;
}
.content{
    overflow: hidden;
}
.city-con{
    color: #737373;
    float: left;
}
.city-left{
    width: 120px;
    padding-left: 25px;
    float: left;
}
.city-left h2{
    float: left;
    height: 50px;
    line-height: 50px;
    width: 150px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.city-right{
    float: left;
}
.city-right ul{
    overflow: hidden;
    width: 1000px;
    margin: 12px 0 0 10px;
}
.city-right li{
    float: left;
}
.city-right a{
    display: block;
    margin: 1px 30px 12px 0;
    color: #737373;
}
.city-right a:hover{
    color: #FF7E00;
    text-decoration: underline;
}
.show22{
    color: #ff8833!important;
}
/* 主题内容结束 */

  /* 底部 */
.fool{
    height: 500px;
}
.fool a:hover{
    color: #FE6600;
    text-decoration: underline;
}
.fool1{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    color: #737373;
}
.fool1 p{
    height: 45px;
    padding: 15px 20px;
    background-color: #EBEBEB;
}
.fool1 div{
    height: 180px;
    padding: 15px;
}
.fool1 ul{
    padding-left: 40px;
    margin-right: 50px;
    float: left;
}
.fool1 li{
    height: 30px;
    line-height: 30px;
}
.fool2{
    margin: 30px 0;
}
.fool2 a{
    margin: 0 32px;
    font-size: 12px;
}
.fool2 a:nth-child(1){
    margin-right: 32px;
}
.fool2 a:last-child{
    margin-left: 32px;
}
.fool2 span{
    color: #D9D9D9;
    font-weight: bold;
}
.fool3 .imgs{
    width: 500px;
    margin: auto;
}
.fool3 img{
    margin: 0 5px;
}
.fool3 p{
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}

